@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// #HEADER
//-------------------------------------

.search {
  margin: 0;
}

.search__input {
  width: 100%;
  max-width: 60rem - $spacing-double;
  padding: $spacing-third;
  border-radius: 2px;
  border: 1px solid rgba(color(gray), .5);
  @include type-scale(1);
  text-align: center;
  color: color(dark);
  @include transition(medium);

  @include on-event {
    border-color: color(brand);
  }

  &::-webkit-input-placeholder {
    color: rgba(color(gray, xlight), .8);
  }

  @include mq(medium) {
    @include type-scale(2);
  }
}
