@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// #CARD
//-------------------------------------

.card {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  box-shadow: 0 0 5rem rgba(black, 0.1);
  background-color: white;
  list-style: none;
  @include transition(xlong);

  &:hover {
    box-shadow: 0 0 1rem rgba(black, 0.4);
  }

  + .card {
    margin-top: $spacing-triple;
  }

  @include mq(medium) {
    flex-flow: row;
  }
}

.card__image {
  height: 70vw;
  width: 100%;
  margin-bottom: $spacing-whole;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(medium) {
    height: auto;
    width: percentage(2/5);
    margin: 0;
  }
}

.card__content {
  width: 100%;
  padding: $spacing-whole;

  @include mq(medium) {
    width: percentage(3/5);
    padding: $spacing-double $spacing-triple;
  }
}

.card__category {
  display: block;
  margin-bottom: $spacing-whole;
  @include type-scale(-1);
  text-transform: uppercase;
  letter-spacing: 4px;
  color: color(gray, dark);
}

.card__title {
  @include type-scale(3);
  font-weight: 200;
}

.card__address {
  @include type-scale(0);
  font-weight: 400;
  font-style: normal;
}
