@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// #FOOTER
//-------------------------------------

.footer {
  padding-top: $spacing-whole;
  padding-right: $spacing-whole;
  padding-left: $spacing-whole;
  margin-top: $spacing-triple;
  margin-bottom: $spacing-double;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 $spacing-double white;
}

.footer__copy {
  @include type-scale(-1);
  font-weight: 400;
  letter-spacing: 2px;
  color: color(light, xdark);

  @include mq(medium) {
    @include type-scale(-1);
    letter-spacing: 4px;
  }
}
