@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// #HEADER
//-------------------------------------

.header {
  border-top: $spacing-third solid color(brand);
  margin-top: 0;
  margin-bottom: $spacing-whole;
  padding: $spacing-whole;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 $spacing-double white;

  @include mq(medium) {
    margin-bottom: $spacing-triple;
    padding: $spacing-double;
  }
}

.header__title {
  @include type-scale(4);
  color: color(dark);
  font-weight: 600;
  margin: 0;

  @include mq(medium) {
    @include type-scale(6);
  }

  span {
    color: color(brand);
  }
}

.header__headline {
  margin-bottom: $spacing-whole;
  @include type-scale(0);
  font-weight: 400;
  letter-spacing: 6px;
  color: color(light, dark);

  @include mq(medium) {
    margin-bottom: $spacing-double;
    letter-spacing: 16px;
  }
}


input {
  width: 100%;
  max-width: 60rem - $spacing-double;
  padding: $spacing-third;
  border-radius: 2px;
  border: 1px solid rgba(color(gray), .5);
  @include type-scale(1);
  text-align: center;
  color: color(dark);
  @include transition(medium);

  @include on-event {
    border-color: color(brand);
  }

  &::-webkit-input-placeholder {
    color: rgba(color(gray, xlight), .8);
  }

  @include mq(medium) {
    @include type-scale(2);
  }
}
