@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// #RATING LIST
//-------------------------------------

.criterias {
  // display: flex;
  // flex-flow: row;
  // flex-wrap: wrap;
  // margin-top: $spacing-double;
  list-style: none;

  // @include mq(medium) {
  //   flex-wrap: nowrap;
  // }

  &:before {
    content: "Criterias:";
    display: block;
  }
}

.criterias__item {
  display: inline-block;
  width: 45%;
  padding-top: $spacing-half;
  padding-right: $spacing-whole;
  padding-bottom: $spacing-half;

  @include mq(medium) {
    @include mq(landscape) {
      width: auto;
    }
  }

  + .criterias__item {
    padding-left: 0;

    @include mq(medium) {
      @include mq(landscape) {
        padding-left: $spacing-whole;
      }
    }
  }
}

.criterias__value {
  @include type-scale(1);
  font-weight: 600;
}

.criterias__label {
  @include type-scale(-1);
}
