@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// @normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css
//-------------------------------------
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}





//-------------------------------------
// @PAGE
//-------------------------------------

// 1. Set the global `box-sizing` state to `border-box`.
// @link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
// @link http://paulirish.com/2012/box-sizing-border-box-ftw
// 2. Remove outline styles from all the elements.
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box; // [1]
    outline: none;          // [2]
  }
}

// High-, page-level styling.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables. The `font-size` is calculated to exist
//    in ems, the `line-height` is calculated to exist unitlessly.
// 2. Fonts on OSX will look more consistent with other systems that do not
//    render text using sub-pixel anti-aliasing.
// 3. Prevent certain mobile browsers from automatically zooming fonts.
// 4. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 5. Ensure the page always fills at least the entire height of the viewport.
// 6. Make a soft and nice highlight on the selection.
html {
  @include type-scale(0);              // [1]
  -webkit-font-smoothing: antialiased; // [2]
  -moz-osx-font-smoothing: grayscale;  // [2]
  text-size-adjust: 100%;              // [3]
  overflow-y: scroll;                  // [4]
  min-height: 100%;                    // [5]
  background-color: color(light);

  ::selection {
    background-color: rgba(color(brand), .3); // [6]
  }
}

// As well as using normalize.css, it is often advantageous to remove all
// margins from certain elements.
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, code,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

// Define vertical rhythm for all block level elements.
h1, h2, h3, h4, h5, h6, hgroup,
p, address, blockquote, figure,
form, noscript, fieldset,
ul, ol, dd, dl,
pre, table, hr {
  margin-bottom: $spacing-whole;
}

// Remove extra vertical spacing when nesting lists.
li {
  > ul,
  > ol { margin-bottom: 0; }
}

// Give a help cursor to elements that give extra info on `:hover`.
abbr[title],
dfn[title] { cursor: help; }

// Remove underlines from potentially troublesome elements.
u,
ins { text-decoration: none; }

// Apply faux underlines to inserted text via `border-bottom`.
ins { border-bottom: 1px solid; }

// Makes the <hr/> border thiner.
hr {
  border: none;
  border-bottom: 1px solid color(gray, light);
}





//-------------------------------------
// @TYPOGRAPHY
//-------------------------------------

body {
  font-family: $font-family-heading;
  font-weight: 400;
  color: color(dark);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: 700;
  color: inherit;
}

h1 { @include type-scale(3); }
h2 { @include type-scale(2); }
h3 { @include type-scale(1); }
h4 { @include type-scale(0); }
h5 { @include type-scale(0); }
h6 { @include type-scale(-1); }

blockquote {
  border-left: 3px solid color(brand);
  padding-left: $spacing-whole;
  font-family: $font-family-serif;
  font-style: italic;
}

p {
  margin-bottom: $spacing-whole;
  @include type-scale(0);
}

a {
  text-decoration: none;
  color: color(brand);

  &:hover {
    text-decoration: underline;
  }
}





//-------------------------------------
// @IMAGES (by @inuitcss)
//-------------------------------------

// 1. Fluid images for responsive purposes.
// 2. Offset `alt` text from surrounding copy.
// 3. Setting `vertical-align` removes the whitespace that appears under `img`
//    elements when they are dropped into a page as-is. Safer alternative to
//    using `display: block;`.
img {
  max-width: 100%;        // [1]
  font-style: italic;     // [2]
  vertical-align: middle; // [3]
}

// 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
//    to remove the effects.
// 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
//    not make the image fluid.
img,          // [1]
img[width],   // [2]
img[height] { // [2]
  max-width: none;
}





//-------------------------------------
// @WRAPPER
//-------------------------------------

.l-wrapper {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-right: $spacing-whole;
  padding-left: $spacing-whole;
}
