@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// #RATING STARS
//-------------------------------------

.rating {
  @include type-scale(0);
}

.rating__usr,
.rating__avg {
  margin: 0;
}

.rating__usr {
  @include font-scale(-1);
}

.rating__star {
  display: inline-block;
  height: auto;
  width: auto;

  &:before {
    content: '\2605';
    color: gold;
  }

  &.is-inactive:before {
    color: color(gray, light);
  }
}
