@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

//-------------------------------------
// #BUTTON
//-------------------------------------

.button {
  display: block;
  border: none;
  border-radius: 2px;
  padding: $spacing-half $spacing-whole;
  @include type-scale(0);
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  color: color(gray, dark);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  @include transition(medium);

  @include mq(medium) {
    display: inline-block;
  }

  &:hover {
    text-decoration: none;
    color: color(dark);
  }

  + .button {
    margin-top: $spacing-whole;

    @include mq(medium) {
      margin-top: 0;
    }
  }
}

.button--primary {
  background-color: color(brand);
  color: color(light);

  &:hover {
    background-color: color(dark);
    color: white;
  }
}
